#id_is_employer{
    width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
}

.input-container, .check{
    user-select: none;
}

.signup-heading, .icon-logo{
    color: #72131e;
}

.btn-register{
    background-color: #72131e;
    color: white;
}

.btn-register:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

.login-employer{
    color: #72131e;
    text-decoration: none;
}

.login-employer:hover{
    color: black;
    text-decoration: underline;
}