{% load static %}
<div class="header-container">
    <header class="header">
        <div class="logo">SkillBuilder</div>
        <div class="icon-btn">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <nav class="nav-links-all">
            {% with request.resolver_match.url_name as url_name %}
            <ul>
                <li>
                    <a
                        href="{% url 'employee-home' request.user %}"
                        class="nav-links {% if request.resolver_match.view_name == 'home' %} active {% endif %}"
                        >Home</a
                    >
                </li>
                {% for enrollment in enrollments %}
                <li>
                    <a
                        href="{% url 'course' enrollment.course.id %}"
                    >
                        {{enrollment.course}}
                    </a>
                </li>
                {% endfor %}
                <li>
                    <div class="user-ico-li">
                        <a
                            href="{% url 'update-user' request.user.id %}"
                            style="display: flex; align-items: center"
                        >
                            <img
                                src="{{request.user.avatar.url}}"
                                alt="user"
                                class="image-icon"
                                style="
                                    width: 30px;
                                    border-radius: 50%;
                                    margin: 10px;
                                "
                            />
                            <p>{{request.user.username}}</p>
                        </a>
                    </div>
                </li>
            </ul>
            {% endwith %}
        </nav>
        <div class="user-ico">
            <a
                href="{% url 'update-user' request.user.id %}"
                style="display: flex; align-items: center"
            >
                <img
                    src="{{request.user.avatar.url}}"
                    alt="user"
                    class="image-icon"
                    style="width: 30px; border-radius: 50%; margin: 10px"
                />
                <p>{{request.user.username}}</p>
            </a>
        </div>
    </header>
</div>
