{% load static %}
    <a href="#" class="side-bar-content-row active">
        <div class="link-icon">
            <img
                src="{% static 'assets/overview.svg' %}"
                alt="Back"
                class="feather-icon icon-bar-1"
            />
        </div>
        <div class="side-bar-title">Overview</div>
    </a>
    <a href="" class="side-bar-content-row">
        <div class="link-icon">
            <img
                src="{% static 'assets/progress.svg' %}"
                alt="Back"
                class="feather-icon icon-bar-2"
            />
        </div>
        <div class="side-bar-title">Progress</div>
    </a>
    <a href="#" class="side-bar-content-row">
        <div class="link-icon">
            <img
                src="{% static 'assets/bell.svg' %}"
                alt="Back"
                class="feather-icon icon-bar-3"
            />
        </div>
        <div class="side-bar-title">Annoucement</div>
    </a>
    <a href="{% url 'resource' course.id %}" class="side-bar-content-row">
        <div class="link-icon">
            <img
                src="{% static 'assets/archive.svg' %}"
                alt="Back"
                class="feather-icon icon-bar-4"
            />
        </div>
        <div class="side-bar-title">Resources</div>
    </a>
    <a href="#" class="side-bar-content-row">
        <div class="link-icon">
            <img
                src="{% static 'assets/quiz.svg' %}"
                alt="Back"
                class="feather-icon icon-bar-5"
            />
        </div>
        <div class="side-bar-title">Quiz</div>
    </a>
    <a href="#" class="side-bar-content-row">
        <div class="link-icon">
            <img
                src="{% static 'assets/message.svg' %}"
                alt="Back"
                class="feather-icon icon-bar-6"
            />
        </div>
        <div class="side-bar-title">Chat Room</div>
    </a>
    <a href="#" class="side-bar-content-row">
        <div class="link-icon">
            <img
                src="{% static 'assets/account.svg' %}"
                alt="Back"
                class="feather-icon icon-bar-7"
            />
        </div>
        <div class="side-bar-title">Account</div>
    </a>