<body>
    {% if page == 'update' %}
    <h1>Update Course form</h1>
    {% else %}
    <h1>Create Course form</h1>
    {% endif %}
    <form action="" method="POST">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit">
            {% if page == 'update' %} Update {% else %} Submit {% endif %}
        </button>
    </form>
    <div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                {{ message }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</body>
