{% extends 'main.html' %} {% load static %} | {% block content %}
<div>
    <h1>Rooms</h1>
    {% for room in rooms %}
    <p>{{room.course}}--{{room}}</p>
    {% endfor %}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, expedita! Delectus itaque, eum aliquam corporis recusandae laudantium commodi architecto velit optio voluptatibus, doloremque deleniti quisquam, nemo tempore eius sunt soluta?
    Dolores mollitia magni iusto laborum ex neque incidunt similique eum doloremque nesciunt. Sint veritatis doloremque aut. Voluptates natus reiciendis non, quam sed et eaque sint tempore illum, esse commodi similique!
    Officia commodi id, assumenda voluptatum autem non veritatis at quod tempore eaque repudiandae consequuntur quasi repellat pariatur adipisci debitis facere incidunt molestias nemo neque vitae maiores aperiam expedita veniam. Assumenda.
    Deleniti quis libero alias quos temporibus impedit iure doloremque vero fugit molestias quo minima, ducimus ratione inventore? Eum, error, quasi voluptatibus doloremque commodi, deserunt iste nemo eos vitae inventore sit.</p>
</div>
{% endblock %}
