<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Instructor</title>
    </head>
    <body>
        <h1>Employer home</h1>
        <div>
            <a href="{% url 'logout' %}">Logout</a>
        </div>
        <div>
            <a href="{% url 'create-course' request.user %}">Create Course</a>
        </div>
        <div>
            <a href="{% url 'create-resource' request.user %}"
                >Create Resource</a
            >
        </div>
        <div>
            <a href="{% url 'create-announcement' request.user %}"
                >Create Announcement</a
            >
        </div>
        <div>
            <a href="{% url 'create-room' request.user %}">Create Room</a>
        </div>
        <div class="display-course">
            <h4>Courses</h4>
            <ul>
                {% for course in courses %}
                <li>
                    <a href="{% url 'update-course' course.id %}">{{course}}</a>
                    <br>
                    <a href="{% url 'delete-course' course.id %}">Delete</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="display-users-course">
            <h4>Users</h4>
            <ul>
                {% for participant in participants %}
                <li>{{participant}} -- {{participant.course}}
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="display-resource">
            <h4>Resources</h4>
            <ul>
                {% for resource in resources %}
                <li>
                    <a href="{% url 'update-resource' resource.id %}"
                        >{{resource}}</a
                    >
                    <br>
                    <a href="{% url 'delete-resource' resource.id %}">Delete</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="display-announcement">
            <h4>Annoucements</h4>
            <ul>
                {% for announcement in announcements %}
                <li>
                    <a href="{% url 'update-announcement' announcement.id %}"
                        >{{announcement}}</a
                    >
                    <br>
                    <a href="{% url 'delete-announcement' announcement.id %}">Delete</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="display-room">
            <h4>Rooms</h4>
            <ul>
                {% for room in rooms %}
                <li>
                    <a href="{% url 'update-room' room.id %}">{{room}}</a>
                    <br>
                    <a href="{% url 'delete-room' room.id %}">Delete</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>
