<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Employee home</h1>
    <a href="{% url 'update-user' request.user.id %}" >Update User</a>
    <ul>
        {% for course in courses %}
        <li><a href="{% url 'course' course.id %}">{{ course }}</a></li>
        {% endfor %}
    </ul>
    <div>
        <h1>Resources</h1>
        {% for resource in resources %}
        <p>{{resource.course}}--{{resource}}</p>
        {% endfor %}
    </div>
    <div>
        <h1>Announcements</h1>
        {% for announcement in announcements %}
        <p>{{announcement.course}}--{{announcement}}</p>
        {% endfor %}
    </div>
    <div>
        <h1>Rooms</h1>
        {% for room in rooms %}
        <p>{{room.course}}--{{room}}</p>
        {% endfor %}
    </div>
</body>
</html>