<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Login Page</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    </head>
    <body>
        <div class="login-container">
            <div class="login-row">
                <div class="login-splash">
                    <div class="back-button">
                        <img
                            src="{% static 'assets/loginback.svg' %}"
                            alt="Back"
                            class="back-button"
                        />
                    </div>
                    <div class="">
                        <img
                            src="{% static 'assets/loginbg.jpg' %}"
                            alt="splash"
                            class="login-bg-img"
                        />
                    </div>
                </div>
                <div class="login-form-container">
                    <form method="POST" class="form">
                        {% csrf_token %}
                        <div class="login-form-title">
                            <div class="login-back-button">
                                <img
                                    src="{% static 'assets/back.svg' %}"
                                    alt="Back"
                                    class="back-button"
                                />
                            </div>
                            <p class="signup-text">
                                {% if msg %} {{ msg | safe }} {% else %} LOGIN TO YOUR ACCOUNT{% endif %}
                            </p>
                            <p style="text-align: center">
                                <span>Don't have an account?</span>
                                <span class="signup-link"
                                    ><a
                                        href="http://"
                                        target="_blank"
                                        rel="noopener noreferrer"
                                        >Signup</a
                                    ></span
                                >
                            </p>
                        </div>
                        <div class="login-form">
                            <div class="login-input-field">
                                <div class="input-field">
                                    <label for="username" class="input-label"
                                        >Username:</label
                                    >
                                    <!-- <input
                                            type="text"
                                            name="username"
                                            class="login-input"
                                        /> -->
                                    {{ form.username }}
                                </div>
                                <div class="input-field">
                                    <label for="password" class="input-label"
                                        >Password:</label
                                    >
                                    <!-- <input
                                            type="password"
                                            name="Password"
                                            class="login-input"
                                        /> -->
                                    <div
                                        style="
                                            display: flex;
                                            flex-direction: column;
                                        "
                                    >
                                        {{ form.password }}
                                        <div style="margin-left: auto">
                                            Show Password
                                            <input
                                                type="checkbox"
                                                id="showPasswordToggle"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="login-btn">
                                <button
                                    type="submit"
                                    class="login-account"
                                >
                                    Login
                                </button>
                                <div>
                                    <p class="text-end">
                                        <a href="" 
                                            >Forgot your Password?</a
                                        >
                                    </p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script>
            const passwordField = document.getElementById("passwordField");
            const showPasswordToggle =
                document.getElementById("showPasswordToggle");

            showPasswordToggle.addEventListener("change", function () {
                if (showPasswordToggle.checked) {
                    passwordField.type = "text";
                } else {
                    passwordField.type = "password";
                }
            });
        </script>
    </body>
</html>
