<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/employee_signup.css' %}" />
        <title>Signup Employee</title>
    </head>
    <body>
        <div class="signup-container">
            <form class="form" method="POST">
                {% csrf_token %}
                <p class="title">
                    {% if page == 'update' %} Update User Registration 
                    {% else %} Sign Up As Employee {% endif %}
                </p>
                {% if page == 'update' %}
                <p class="message">
                    Update your information
                </p>
                {% else %}
                <p class="message">
                    Signup now and get full access to our app.
                </p>
                {% endif %}
                {% if msg %} 
                <p class="message">
                    {{ msg | safe }}
                        
                </p>
                {% endif %}
                
                <div class="signup-row">
                    <label>
                        {{ form.first_name}}
                        <span>Firstname</span>
                    </label>

                    <label>
                        {{ form.last_name}}
                        <span>Lastname</span>
                    </label>
                </div>
                <div class="signup-row">
                    <label>
                        {{ form.username }}
                        <span>Username</span>
                    </label>
                    <label>
                        {{ form.email}}
                        <span>Email</span>
                    </label>
                </div>
                
                {% if page == 'update' %}
                <div class="signup-row">
                    <label>
                        {{ form.bio }}
                        <span>Bio</span>
                    </label>
                    <label>
                        {{ form.avatar }}
                        <span>Avatar</span>
                    </label>
                </div>
                {% endif %} 
                {% if page != 'update' %}
                <div class="signup-row">
                    <label>
                        {{ form.password1 }}
                        <span>Password</span>
                    </label>
                    <label>
                        {{ form.password2 }}
                        <span>Confrim Password</span>
                    </label>
                </div>
                <div
                    style="
                        display: flex;
                        justify-content: flex-end;
                        color: white;
                    "
                >
                    Show Password
                    <label class="container">
                        <input type="checkbox" id="showPasswordToggle" />
                        <div class="checkmark"></div>
                    </label>
                </div>
                {% endif %}
                <div class="signup-row">
                    {% if page == 'update' %}
                    <label>
                        <select
                            name="my_employer"
                            class="update-select"
                        >
                            <option
                                value="{{request.user.my_employer}}"
                            >
                                {{request.user.my_employer}}
                            </option>
                            {% for employer in employers %}
                            <option value="{{employer}}">
                                {{employer}}
                            </option>
                            {% endfor %}
                        </select>
                        <span>Employer</span>
                    </label>
                    {% else %}
                    <label>
                        {{form.employer_select}}
                        <span>Employer</span>
                    </label>
                    {% endif %}
                </div>
                {% if page != 'update' %}
                <label>
                    {{form.is_employee}}
                    <span style="color: white">Is Employee</span>
                </label>
                {% endif %}
                <button class="submit">
                    {% if page == 'update' %}
                    Update
                    {% else %}
                    Create account
                    {% endif %}
                </button>
                <div>
                    {% if messages %}
                    <ul class="messages" style="text-align: center;">
                        {% for message in messages %}
                        <li
                            {% if message.tagsn %}
                            class="{{ message.tags }}"
                            {% endif %}
                        >
                            {{ message }}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {% if page != 'update' %}
                <p class="signin">
                    Already have an acount ? <a href="{% url 'login' %}">Login</a>
                </p>
                <p class="employee_signup">Signup as 
                    <a href="{% url 'employer-signup' %}">Employer</a>
                </p>
                <p class="employee_signup">
                    <a href="{% url 'home'%}">Go home</a>
                </p>
                {% else %}
                <p class="employee_signup">
                    <a href="{% url 'employee-home' pk=request.user%}">Go home</a>
                </p>
                {% endif %}
            </form>
        </div>
        <script>
            const passwordField1 = document.getElementById("passwordField1");
            const passwordField2 = document.getElementById("passwordField2");
            const showPasswordToggle =
                document.getElementById("showPasswordToggle");

            showPasswordToggle.addEventListener("change", function () {
                if (showPasswordToggle.checked) {
                    passwordField2.type = "text";
                    passwordField1.type = "text";
                } else {
                    passwordField1.type = "password";
                    passwordField2.type = "password";
                }
            });
        </script>
    </body>
</html>
